doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Postman Fox
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
    link(rel='stylesheet', href='styles/style.css')
  body
    section#app
      section#login.login(v-show="state === 'LOGIN'")
        h1.login__header Postmanfox
        form(v-on:submit.prevent='onLogin')
          input.login__input(type='text', name='username', v-model='username')
          button.login__button(type='submit') START GAME
        button(type='button') see instructions
      section#game.game(v-show="state === 'GAME'")
        p(v-show="!loaded") waiting for the next round to start
        #game-wrapper  
      section#leaderboard.leaderboard(v-show="state === 'LEADERBOARD'")
        h2 here is table right now
        table
            thead
              tr
                th name
                th score
            tbody
              tr(v-for="user in leaderboard")
                td {{user.name}}
                td {{user.score}}

    script(src='node_modules/lodash/lodash.min.js')
    script(src='node_modules/vue/dist/vue.min.js')
    script(src='node_modules/socket.io-client/socket.io.js')
    script(src='node_modules/phaser/dist/pixi.min.js')
    script(src='node_modules/phaser/dist/p2.min.js')
    script(src='node_modules/phaser/dist/creature.min.js')
    script(src='node_modules/phaser/dist/phaser-creature.min.js')
    script(src='js/app.js')
    script(src='js/game.js')
